body { 
  background-color: rgb(8, 147, 216);
}

h1 {
  color: rgb(17, 17, 17);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#t01 {
  width: 100%;
  
}

#t01 tr:nth-child(even) {
  background-color: yellow;
}
#t01 tr:nth-child(odd) {
  color: white;
  background-color: orange;
}
#t01 th {
  color: white;
  background-color: black;
}

#t02 {
  width: 100%;
  background-color: #f1f1c1;
}

#t02 tr:nth-child(even) {
  background-color: yellow;
}
#t21 tr:nth-child(odd) {
  color: white;
  background-color: orange;
}
#t02 th {
  color: white;
  background-color: black;
}


* {
  box-sizing: border-box;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}