body { 
  background-color: rgb(8, 147, 216);
}

h1 {
  color: rgb(17, 17, 17);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#t01 {
  width: 100%;
  
}

#t01 tr:nth-child(even) {
  background-color: yellow;
}
#t01 tr:nth-child(odd) {
  color: white;
  background-color: orange;
}
#t01 th {
  color: white;
  background-color: black;
}

#t02 {
  width: 100%;
  background-color: #f1f1c1;
}

#t02 tr:nth-child(even) {
  background-color: yellow;
}
#t21 tr:nth-child(odd) {
  color: white;
  background-color: orange;
}
#t02 th {
  color: white;
  background-color: black;
}
